html {
    background-color: #fa923f;
    padding: 10px;
}

body {
    background-color: yellow;
    padding: 10px;
    margin: 0;
}

header {
    background-color: #f073e1;
    margin: 10px;
}

main {
    background-color: #f073e1;
    margin: 10px;
    padding: 30px;
}

nav {
    background-color: #f073e1;
    margin: 10px;
}

div {
    background-color: #f800db;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 200px;
}
