html {
    background-color: rgb(236, 236, 236);
    font-family: 'Barlow', sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
}

a {
   text-decoration: none;
   color: black; 
}

a:active {
    color: #fa923f;
}

img:hover {
    cursor: pointer;
}

/*modal*/
.backdrop {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    background: white;
    padding: 10px;
    width: 260px;
    top: 100px;
    left: calc(50% - 140px);
    z-index: 1;    
}

.modal h1 {
    margin: 0;
}

.modal button {
    background: #fa923f;
    color: white;
    border: 1px solid #521751;
    font: inherit;
    font-size: 12px;
    cursor: pointer;
}

.modal button:hover,
.modal button:active {
    background: #521751;
}

.modal button:focus {
    outline: none;
}

@media (min-width: 400px) {
    .modal {
        width: 360px;
        left: calc(50% - 190px);
    }
}

/*form*/
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

label {
    align-self: flex-start;
    margin-top: 16px;
    margin-bottom: 5px;
}

.form-input:hover {
    background: rgb(228, 226, 226);
}

.form-input:focus, 
.form-button {
    outline: none;
    cursor: pointer;
}

.form-input {
    background: white;
    border: 1px solid black;  
    width: 100%;
    padding: 3px;
}

textarea {
    resize: none;
    padding: 3px;
}

.submit-button {
    margin-top: 5px;
    padding: 5px;
    background: #979695;
    color: white;
}

.submit-button:active,
.submit-button:hover {
    cursor: pointer;
}

.submit-button:focus {
    outline: none;
}

/*header*/

.fixed-bar {
    height: 70px;

}
.page-title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #521751;
    color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-size: 2rem;
}

/*nav*/
.navigation {
    text-align: center;
    padding: 0;
}


.navigation li {
    display: inline-block;
    width: 20%;
    background-color: rgb(177, 177, 174);
    font-size: 16px;
    font-size: 0.9rem;
}


/*main*/
.trip-text {
    display: none;
}


.trip-images {
    display: flex;
    flex-wrap: wrap;
}

.trip-images img {
    width: 100%;
    height: 100%;
} 

.feedback {
    position: relative;
    bottom: 18.4px;
    background-color: #521751;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-size: 1rem;
}

/*footer*/
.review-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
}

.review-clients img {
    width: 120px;
}

.review-clients p {
    width: 350px;
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
}

@media (min-width: 400px){
    .navigation li {
        font-size: 1.2rem;
    }
}

@media (min-width: 700px){
    .trip-images img {
        width: 50%;
    } 
    
    .trip-text {
        background-color: #fa923f;
        padding: 0;
        display: flex;
    }

    .trip-text p {
        background-color: #521751;
        color: white;
        text-align: center;
        margin: 0;
        width: 50%;
        font-size: 16px;
        font-size: 1rem;
    }
}
